In [ ]:
import sqlite3
# Create a database in RAM :                             db = sqlite3.connect(':memory:')
# Creates or opens a file called mydb with a SQLite3 DB
db = sqlite3.connect('chinook.db')
# Get a cursor object
cursor = db.cursor()

In [ ]:
cursor.execute('''SELECT name, milliseconds,  albumid  FROM tracks''')
user1 = cursor.fetchone() #retrieve the first row
print(user1[0]) #Print the first column retrieved(user's name)
all_rows = cursor.fetchall()
for row in all_rows:
    # row[0] returns the first column in the query (name), row[1] returns email column.
    print('{0} : {1}, {2}'.format(row[0], row[1], row[2]))

In [ ]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

In [ ]:
import sqlite3
# Create a database in RAM :                             db = sqlite3.connect(':memory:')
# Creates or opens a file called mydb with a SQLite3 DB
db = sqlite3.connect('test.db')
# Get a cursor object
cursor = db.cursor()

In [ ]:
cursor.execute('''
    CREATE TABLE users(id INTEGER PRIMARY KEY, name TEXT,
                       phone TEXT, email TEXT unique, password TEXT)
''')
db.commit()

In [ ]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

In [ ]:
cursor.execute('''SELECT *  FROM cars''')
user1 = cursor.fetchone() #retrieve the first row
print(user1[0]) #Print the first column retrieved(user's name)
all_rows = cursor.fetchall()
for row in all_rows:
    # row[0] returns the first column in the query (name), row[1] returns email column.
    print('{0} : {1}, {2}'.format(row[0], row[1], row[2]))

In [ ]:
cursor = db.cursor()
name1 = 'Andres'
phone1 = '3366858'
email1 = 'user@example.com'
# A very secure password
password1 = '12345'
 
name2 = 'John'
phone2 = '5557241'
email2 = 'johndoe@example.com'
password2 = 'abcdef'
 
# Insert user 1
cursor.execute('''INSERT INTO users(name, phone, email, password)
                  VALUES(?,?,?,?)''', (name1,phone1, email1, password1))
print('First user inserted')
 
# Insert user 2
cursor.execute('''INSERT INTO users(name, phone, email, password)
                  VALUES(?,?,?,?)''', (name2,phone2, email2, password2))
print('Second user inserted')
 
db.commit()

In [ ]:
cursor.execute('''SELECT *  FROM users''')
user1 = cursor.fetchone() #retrieve the first row
#print(user1[1]) #Print the first column retrieved(user's name)
all_rows = cursor.fetchall()
for row in all_rows:
    # row[0] returns the first column in the query (name), row[1] returns email column.
    print('{0} : {1}, {2},{3}, {4}'.format(row[0], row[1], row[2], row[3], row[4]))

In [ ]:
cursor.execute('''SELECT name, email, phone FROM users''')
for row in cursor:
    # row[0] returns the first column in the query (name), row[1] returns email column.
    print('{0} : {1}, {2}'.format(row[0], row[1], row[2]))

In [ ]:
#!/usr/bin/python
# -*- coding: utf-8 -*-

import sqlite3 as lite
import sys

con = lite.connect('test.db')

with con:
    
    cur = con.cursor()    
    cur.execute('SELECT SQLITE_VERSION()')
    
    data = cur.fetchone()
    
    print( "SQLite version: %s" % data )

In [ ]:
#!/usr/bin/python
# -*- coding: utf-8 -*-

import sqlite3 as lite
import sys

con = lite.connect(':memory:')

with con:
    
    cur = con.cursor()    
    cur.execute("CREATE TABLE Friends(Id INTEGER PRIMARY KEY, Name TEXT);")
    cur.execute("INSERT INTO Friends(Name) VALUES ('Tom');")
    cur.execute("INSERT INTO Friends(Name) VALUES ('Rebecca');")
    cur.execute("INSERT INTO Friends(Name) VALUES ('Jim');")
    cur.execute("INSERT INTO Friends(Name) VALUES ('Robert');")
        
    lid = cur.lastrowid
    print( "The last Id of the inserted row is %d" % lid)
    with con:    
    
        cur = con.cursor()    
        cur.execute("SELECT * FROM Friends")

    rows = cur.fetchall()

    for row in rows:
        print (row)

In [ ]:
#!/usr/bin/python
# -*- coding: utf-8 -*-

import sqlite3 as lite
import sys


con = lite.connect('test.db')

with con:    
    
    cur = con.cursor()    
    cur.execute("SELECT * FROM Cars")

    rows = cur.fetchall()

    for row in rows:
        print (row)

 # Apprendre python 3

In [10]:
import sqlite3
# Create a database in RAM :                             db = sqlite3.connect(':memory:')
# Creates or opens a file called mydb with a SQLite3 DB
conn = sqlite3.connect('db-test.sqlite')
# Get a cursor object
cur = conn.cursor()

In [11]:
cur.execute("CREATE TABLE membres (age INTEGER, nom TEXT, taille REAL)")

OperationalError: table membres already exists

In [12]:
cur.execute("INSERT INTO membres(age,nom,taille) VALUES(25,'pont',1.80)")

In [13]:
cur.execute("INSERT INTO membres(age,nom,taille) VALUES(35,'Alim',1.75)")
cur.execute("INSERT INTO membres(age,nom,taille) VALUES(40,'Omar',1.85)")

In [14]:
conn.commit()

In [15]:
cur.execute('''SELECT name FROM sqlite_master''').fetchall()

[('membres',)]

In [16]:
#cur.close()
#conn.close()

In [17]:
cur.execute('''SELECT name FROM sqlite_master''').fetchall()

[('membres',)]

In [33]:
cur.execute("SELECT * FROM membres")
list(cur)

[(21, 'Dupont', 1.83),
 (31, 'Ali', 1.75),
 (42, 'Om', 1.85),
 (21, 'Dupont', 1.83),
 (31, 'Ali', 1.75),
 (42, 'Om', 1.85),
 (25, 'pont', 1.8),
 (35, 'Alim', 1.75),
 (40, 'Omar', 1.85),
 (25, 'pont', 1.8),
 (35, 'Alim', 1.75),
 (40, 'Omar', 1.85)]

In [34]:
cur.execute("SELECT * FROM membres")
for l in cur:
    print(l)

(21, 'Dupont', 1.83)
(31, 'Ali', 1.75)
(42, 'Om', 1.85)
(21, 'Dupont', 1.83)
(31, 'Ali', 1.75)
(42, 'Om', 1.85)
(25, 'pont', 1.8)
(35, 'Alim', 1.75)
(40, 'Omar', 1.85)
(25, 'pont', 1.8)
(35, 'Alim', 1.75)
(40, 'Omar', 1.85)

In [35]:
cur.execute("SELECT * FROM membres")
cur.fetchall()

[(21, 'Dupont', 1.83),
 (31, 'Ali', 1.75),
 (42, 'Om', 1.85),
 (21, 'Dupont', 1.83),
 (31, 'Ali', 1.75),
 (42, 'Om', 1.85),
 (25, 'pont', 1.8),
 (35, 'Alim', 1.75),
 (40, 'Omar', 1.85),
 (25, 'pont', 1.8),
 (35, 'Alim', 1.75),
 (40, 'Omar', 1.85)]

In [36]:
cur.execute("INSERT INTO membres(age,nom,taille) VALUES(19,'Ricard',1.75)")

In [37]:
data =[(17,"Durand",1.74),(22,"Berger",1.71),(20,"Weber",1.65)]
for tu in data:
    cur.execute("INSERT INTO membres(age,nom,taille) VALUES(?,?,?)", tu)

conn.commit()

In [38]:
cur.execute("UPDATE membres SET nom ='OUZARF' WHERE nom='Ricard'")

In [39]:
cur.execute("UPDATE membres SET age =50 WHERE nom='OUZARF'")

In [46]:
conn.commit()

In [45]:
cur.execute("DELETE FROM membres WHERE rowid=10")

In [52]:
import sqlite3
# Établissement de la connexion - Création du curseur :
connex = sqlite3.connect("musik.sqlite")
cur = connex.cursor()

In [53]:
print("Entrée des enregistrements, table des compositeurs :")
while 1:
    nom = input("Nom du compositeur (<Enter> pour terminer) : ")
    if nom =='':
        break
    aNais = input("Année de naissance : ")
    aMort = input("Année de mort : ")
    req ="INSERT INTO compositeurs (comp, a_naiss, a_mort) VALUES (?, ?, ?)"
    cur.execute(req, (nom, aNais, aMort))
print("Rappel des infos introduites :")
cur.execute("select * from compositeurs")
for enreg in cur:
    print(enreg)
print("Entrée des enregistrements, table des oeuvres musicales :")
while 1:
    nom = input("Nom du compositeur (<Enter> pour terminer) : ")
    if nom =='':
        break
    titre = input("Titre de l'oeuvre : ")
    duree = input("durée (minutes) : ")
    inter = input("interprète principal : ")
    req ="INSERT INTO oeuvres (comp, titre, duree, interpr) VALUES (?, ?, ?, ?)"
    cur.execute(req, (nom, titre, duree, inter))
print("Rappel des infos introduites :")
cur.execute("select * from oeuvres")
for enreg in cur:
    print(enreg)
# Transfert effectif des enregistrements dans la BD :
connex.commit()

Entrée des enregistrements, table des compositeurs :
Nom du compositeur (<Enter> pour terminer) : om
Année de naissance : 1930
Année de mort : 2002
Nom du compositeur (<Enter> pour terminer) : 1
Année de naissance : 1900
Année de mort : 2000
Nom du compositeur (<Enter> pour terminer) :
Rappel des infos introduites :
('om', 1930, 2002)
('1', 1900, 2000)
Entrée des enregistrements, table des oeuvres musicales :
Nom du compositeur (<Enter> pour terminer) :
Titre de l'oeuvre : maroc
durée (minutes) : 20
interprète principal : ouzarf
Nom du compositeur (<Enter> pour terminer) : om
Titre de l'oeuvre :
durée (minutes) :
interprète principal :
Nom du compositeur (<Enter> pour terminer) :
Rappel des infos introduites :
(' ', 'maroc', 20, 'ouzarf')
('om', ' ', '', '')

In [54]:
cur.execute("INSERT INTO compositeurs(comp, a_naiss, a_mort) VALUES('Alim',1975,2012)")
connex.commit()

In [55]:

import sqlite3

baseDonn = sqlite3.connect("musique16.sqlite")
cur = baseDonn.cursor()
while 1:
    print("Veuillez entrer votre requête SQL (ou <Enter> pour terminer) :")
    requete = input()
    if requete =="":
        break
    try:
        cur.execute(requete)           # exécution de la requête SQL
    except:
        print('*** Requête SQL incorrecte ***')
    else:
        for enreg in cur:              # Affichage du résultat
            print(enreg)
    print()

choix = input("Confirmez-vous l'enregistrement de l'état actuel (o/n) ? ")
if choix[0] == "o" or choix[0] == "O":
    baseDonn.commit()
else:
    baseDonn.close()

Veuillez entrer votre requête SQL (ou <Enter> pour terminer) :
select * from oeuvres
('Mozart', 'Concerto piano N°12', 25, 'M. Perahia')
('Vivaldi', 'Les quatre saisons', 20, 'T.Pinnock')
('Brahms', 'Concerto violon N°2', 40, 'A. Grumiaux')
('Beethoven', 'Sonate "au clair de lune"', 14, 'W. Kempf')
('Beethoven', 'Sonate "pathétique"', 17, 'W. Kempf')
('Schubert', 'Quintette "la truite"', 39, 'SE of London')
('Haydn', 'La création', 109, 'H. Von Karajan')
('Chopin', 'Concerto piano N°1', 42, 'M.J. Pires')
('Bach', 'Toccata et fugue', 9, 'P. Burmester')
('Beethoven', 'Concerto piano N°4', 33, 'M. Pollini')
('Mozart', 'Symphonie N°40', 29, 'F. Bruggen')
('Mozart', 'Concerto piano N°22', 35, 'S. Richter')
('Beethoven', 'Concerto piano N°3', 37, 'S. Richter')

Veuillez entrer votre requête SQL (ou <Enter> pour terminer) :

Confirmez-vous l'enregistrement de l'état actuel (o/n) ? o